body {
    background: rgb(219, 163, 106);
    background: linear-gradient(90deg, rgba(219, 163, 106, 1) 0%, rgba(207, 117, 173, 1) 50%, rgba(219, 163, 106, 1) 100%);
}

* {
    box-sizing: border-box;
}

.navbar {
    background: transparent url("../img/summer\ drink2.jpg") center no-repeat;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    border: 5px solid rgb(12, 12, 12);
    height: 150px;
}

.d-flex {
    margin-left: 1340px;
    margin-top: 8px;
    width: 430px;
}

h2 {
    font-size: 400%;
    text-align: center;
}

.p-h2 {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: xx-large;
}

.p-h3 {
    text-align: center;
    font-size: xx-large;
}

.jumbotron {
    border: 5px solid rgb(12, 12, 12);
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    background: rgb(224, 224, 27, 0.725)
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background: transparent url("../img/summer\ drink19.jpg") center repeat;
    padding: 15px;
    margin-bottom: 15px;
    border: 5px solid rgb(12, 12, 12);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    color: rgb(12, 12, 12);
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    height: 100px;
    margin-left: 20px;
    border: 5px solid rgb(12, 12, 12);
    width: 600px;
}

.menu li:hover {
    background-color: rgb(219, 163, 106);
}

.first {
    background: transparent url("../img/summer\ drink20.jpg") no-repeat center;
    font-size: xx-large;
}

.second {
    background: rgb(255, 165, 0, 0.725)  url("../img/summer\ drink31.jpg") no-repeat center;
    font-size: xx-large;
}

.third {
    background: transparent url("../img/summer\ drink13.jpg") no-repeat center;
    font-size: xx-large;
}

.fourth {
    background: rgb(71, 204, 71, 0.5) url("../img/summer\ drink32.jpg") no-repeat center;
    font-size: xx-large;
}

.aside {
    background: rgb(0, 217, 255, 0.725) url("../img/summer\ drink18.jpg") no-repeat center;
    padding: 30px;
    color: rgb(12, 12, 12);
    text-align: center;
    font-size: 14px;
    box-shadow: 4px 8px 10px rgb(12, 12, 12);
    border: 5px solid rgb(12, 12, 12);
    margin-left: -150px;
    height: 490px;
    width: 600px;
}

.footer {
    background-color: rgb(255, 218, 185, 0.3);
    color: rgb(12, 12, 12);
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

.card {
    display: inline-block;
    margin: 30px;
}

.fa-facebook {
    color: rgb(12, 12, 12);
}

.fa-instagram {
    color: rgb(12, 12, 12);
}

.fa-twitter {
    color: rgb(12, 12, 12);
}

.fa-martini-glass {
    color: rgb(64, 85, 16);
}

.fa-wine-glass {
    color: rgb(83, 11, 11);
}

.fa-whiskey-glass {
    color: rgb(39, 35, 10);
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}